<header>
    <h1><a href="#" data-site-header-title style="color: inherit; text-decoration: none"></a></h1>
    <div class="menu-toggle" id="menuToggle" aria-label="メニューを開く" role="button" tabindex="0">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav id="navMenu">
        <a href="#" data-nav-href="/codes/">チートコード一覧</a>
        <a href="#" data-nav-href="/generator/">チートコードジェネレータ</a>
        <a href="#" data-nav-href="/gauge_calc/">ゲージ回収量計算機</a>
        <a href="#" data-nav-href="/iad_frame/">低ダ攻撃発生Fデータ</a>
        <a href="#" data-nav-href="/opening_matchup/">開幕行動チェッカー</a>
        <a href="#" data-nav-href="match_db/">対戦動画DB</a>
    </nav>
</header>
